<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hzecool.core">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <application>
        <activity
            android:name=".activity.webview.JsBridgeWebViewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.webview.JsBridgeWebViewActivityLandScape"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.imagepager.ImagePagerActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".crash.DefaultErrorActivity"
            android:screenOrientation="portrait"></activity>

    </application>
</manifest>
